@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

.bloc-central {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  padding: 0px 20px 20px;
}

@media (min-width: 992px) {
  .bloc-central {
    background-color: rgba(255, 255, 255, 0.4);
    width: 450px;
  }
}

.bloc-central .logo-mamienova {
  max-width: 100%;
  margin: 15px 0;
}

.img-bg {
  position: absolute;
  display: none;
}

.img-bg.left {
  right: 430px;
  top: 100px;
}

.img-bg.right {
  left: 420px;
  bottom: 0;
  max-height: 90vh;
}

@media (min-width: 992px) {
  .img-bg {
    display: block;
  }
}

.btn {
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px rgba(0, 0, 0, 0.75);
}

.btn.btn-primary {
  width: 300px;
  background-color: #f9bc16;
}

.btn.btn-secondary {
  background-color: #b10808;
  font-size: 20px;
}

.btn img {
  margin: 0 10px;
}

.footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  line-height: 11px;
}

.footer a {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 9px;
  letter-spacing: initial;
}

.layout {
  overflow: hidden;
  background-image: url("/assets/imgs/bg-marron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media (min-width: 992px) {
  .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.etapes .numero {
  position: relative;
  background-color: #f9bc16;
  height: 37px;
  width: 37px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.etapes .numero:not(:last-child) {
  margin-right: 70px;
}

.etapes .numero:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 30px;
  display: block;
  width: 100px;
  height: 3px;
  background-color: #f9bc16;
}

.etapes .numero span {
  opacity: 0.5;
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.etapes .numero.active {
  height: 50px;
  width: 50px;
}

.etapes .numero.active span {
  opacity: 1;
  font-size: 35px;
}

.help-me-mamie {
  width: 280px;
}

.tips {
  border: none;
  background-color: #562a1c;
  color: white;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  display: inline-block;
  font-size: 11px;
  position: relative;
  left: 5px;
  padding: 0;
  text-align: center;
}

.modal .modal-dialog {
  max-width: 775px;
}

@media (max-width: 992px) {
  .modal .modal-dialog {
    margin: 30px;
  }
}

.modal .modal-dialog .modal-content {
  padding: 0 15px;
}

.modal .modal-dialog .modal-content .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
  background-color: #f9bc16;
  opacity: 1;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: -17px;
  right: -17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content h2 {
  color: #562a1c;
  font-weight: 800;
  margin: 30px 0 0 0;
}

.modal .modal-dialog .modal-content .img img {
  position: relative;
  top: -20px;
}

.navbar {
  top: 20px;
  padding: 0;
  margin-bottom: 10px;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: none;
  border: none;
}

.navbar .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-collapse .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  width: 100%;
}

@media (min-width: 1200px) {
  .navbar .navbar-collapse .navbar-nav .nav-item {
    width: 150px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-item {
    width: 110px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-item.empty {
    margin: 0 180px;
  }
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
  }
}

.landing .a-gagner {
  margin-top: 20px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 35px;
  background-color: #ff0000;
  color: white;
  text-align: center;
  padding: 10px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.landing .cures-de-choc {
  color: #6a2505;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 40px;
  margin: 10px 0;
}

.landing .cures-de-choc span {
  font-weight: 900;
  font-size: 30px;
}

.explications .craquer {
  margin: 50px 0;
  color: #d64b4d;
  font-size: 32px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.explications__etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.explications__etapes > * {
  margin-bottom: 30px;
}

.explications__etapes__numero {
  background-color: #f9bc16;
  height: 37px;
  width: 37px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 900;
}

.explications__etapes p {
  margin-top: 4px;
  color: #562a1c;
  font-size: 25px;
  text-align: center;
  line-height: 1.2;
}

.explications__etapes p.small {
  font-size: 18px;
  width: 100%;
}

.explications .un-duo-de-cadeaux {
  color: #562a1c;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.1;
}

.explications .a-hauteur {
  color: white;
  margin: 30px 0 10px 0;
  font-size: 11px;
}

.explications .footer {
  margin-top: 0px;
}

.explications .tns-outer {
  width: 226px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.explications .slider-controls {
  display: block !important;
  position: relative;
  width: 100%;
}

.explications .slider-controls img {
  cursor: pointer;
  position: absolute;
  bottom: 70px;
}

.explications .slider-controls img:first-child {
  left: 0;
}

.explications .slider-controls img:last-child {
  right: 0;
}

.explications .slider-controls img:focus {
  outline: none;
}

.explications .tips {
  top: 11px;
  left: 8px;
}

.explications .tips span {
  position: relative;
  top: 1px;
}

.choix .choco-mood {
  text-align: center;
  color: #562a1c;
  font-size: 18px;
  margin-bottom: 20px;
}

.choix .pastille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.choix .pastille input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.choix .pastille img {
  width: 175px;
  border-radius: 1000px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid transparent;
}

.choix .pastille input:checked ~ img {
  border-color: white;
}

.choix .pastille:hover img {
  border: 4px solid white;
}

.choix-1 h1 {
  text-align: center;
  color: #562a1c;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: initial;
}

.choix-1 .explications {
  margin-top: 20px;
  color: #562a1c;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}

.choix-1 .normal {
  padding: 10px 15px;
  color: white;
  background-color: #572d57;
  margin: 10px 0 20px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
}

.choix-1.layout {
  background-image: url("/assets/imgs/bg-violet.jpg");
}

.choix-2.layout {
  background-image: url("/assets/imgs/bg-choix-2.jpg");
}

.choix-2 .normal {
  background-color: #7b1206;
}

.choix-3.layout {
  background-image: url("/assets/imgs/bg-choix-3.jpg");
}

.choix-3 .normal {
  background-color: #2e5a45;
}

.choix-4.layout {
  background-image: url("/assets/imgs/bg-choix-4.jpg");
}

.choix-4 .normal {
  background-color: #b15323;
}

.formulaire.layout {
  background-image: url("/assets/imgs/bg-marron-choco.jpg");
}

.formulaire form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire .sexe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.formulaire .sexe .radio {
  width: 72px;
}

@media (min-width: 576px) {
  .formulaire .sexe .radio {
    width: 100px;
  }
}

.formulaire .radio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.formulaire .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.formulaire .radio .checkmark {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
}

@media (min-width: 576px) {
  .formulaire .radio .checkmark {
    margin: 0 5px;
  }
}

.formulaire .radio .checkmark::after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #562a1c;
  display: none;
}

.formulaire .radio input:checked ~ .checkmark:after {
  display: block;
}

.formulaire input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.5);
}

@media (min-width: 576px) {
  .formulaire input {
    width: 163px;
  }
}

.formulaire input.long {
  width: 270px;
}

@media (min-width: 576px) {
  .formulaire input.long {
    width: 375px;
  }
}

.formulaire input:focus {
  outline: none;
}

.formulaire input.codes {
  width: 280px;
  border: none;
  border-radius: 10px;
  height: 45px;
  font-size: 20px;
  padding-left: 21px;
  padding-right: 0;
  letter-spacing: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 992px) {
  .formulaire input.codes {
    width: 410px;
    padding-left: 90px;
  }
}

.formulaire input::-webkit-input-placeholder {
  color: rgba(86, 42, 28, 0.5);
}

.formulaire input:-ms-input-placeholder {
  color: rgba(86, 42, 28, 0.5);
}

.formulaire input::-ms-input-placeholder {
  color: rgba(86, 42, 28, 0.5);
}

.formulaire input::placeholder {
  color: rgba(86, 42, 28, 0.5);
}

.formulaire .dotted-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 12px;
}

.formulaire .dotted-line span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: black;
}

.formulaire .dotted-line span:not(:last-child) {
  margin-right: 7px;
}

.formulaire .codes-texte {
  text-align: center;
  color: #562a1c;
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 10px;
}

.formulaire .conditions {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.formulaire .conditions .radio {
  font-size: 11px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.formulaire .conditions .radio .checkmark {
  position: relative;
  bottom: 2px;
  margin: 0 5px 0 0;
}

.formulaire .tips {
  bottom: 4px;
}

.gagne h1 {
  margin: 30px 0;
  text-transform: uppercase;
  color: #562a1c;
  font-weight: 800;
  text-align: center;
}

.gagne p {
  font-size: 20px;
  text-align: center;
  color: #562a1c;
  line-height: 1.2;
}
/*# sourceMappingURL=style.css.map */