.choix {
  .choco-mood {
    text-align: center;
    color: $brown;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .pastille {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    img {
      width: 175px;
      border-radius: 1000px;
      box-sizing: content-box;
      border: 4px solid transparent;
    }
    input:checked ~ img {
      border-color: white;
    }
    &:hover img {
      border: 4px solid white;
    }
  }
}

.choix-1 {
  h1 {
    text-align: center;
    color: $brown;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: initial;
  }
  .explications {
    margin-top: 20px;
    color: $brown;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  .normal {
    padding: 10px 15px;
    color: white;
    background-color: $purple;
    margin: 10px 0 20px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  &.layout {
    background-image: url("/assets/imgs/bg-violet.jpg");
  }
}

.choix-2 {
  &.layout {
    background-image: url("/assets/imgs/bg-choix-2.jpg");
  }
  .normal {
    background-color: #7b1206;
  }
}

.choix-3 {
  &.layout {
    background-image: url("/assets/imgs/bg-choix-3.jpg");
  }
  .normal {
    background-color: #2e5a45;
  }
}

.choix-4 {
  &.layout {
    background-image: url("/assets/imgs/bg-choix-4.jpg");
  }
  .normal {
    background-color: #b15323;
  }
}
