.explications {
  .craquer {
    margin: 50px 0;
    color: #d64b4d;
    font-size: 32px;
    line-height: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__etapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin-bottom: 30px;
    }
    &__numero {
      background-color: $yellow;
      height: 37px;
      width: 37px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 10px;
      font-size: 25px;
      font-weight: 900;
    }
    p {
      margin-top: 4px;
      color: $brown;
      font-size: 25px;
      text-align: center;
      line-height: 1.2;
      &.small {
        font-size: 18px;
      }
    }
  }
  .un-duo-de-cadeaux {
    color: $brown;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.1;
  }
  .a-hauteur {
    color: white;
    margin: 30px 0 10px 0;
    font-size: 11px;
  }
  .footer {
    margin-top: 0px;
  }
  .tns-outer {
    width: 226px;
    transform: translateX(30px);
  }
  .slider-controls {
    display: block !important;
    position: relative;
    width: 100%;
    img {
      cursor: pointer;
      position: absolute;
      bottom: 70px;
      &:first-child {
        left: 0;
        // @media (min-width: 992px) {
        //   left: -50px;
        // }
      }
      &:last-child {
        right: 0;
        // @media (min-width: 992px) {
        //   right: -50px;
        // }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
