.formulaire {
  &.layout {
    background-image: url("/assets/imgs/bg-marron-choco.jpg");
  }
  form {
    width: 100%;
  }
  .sexe {
    display: flex;
    margin-bottom: 20px;
    .radio {
      width: 130px;
    }
  }
  .radio {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    cursor: pointer;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      margin: 0 5px;
      flex: 0 0 20px;
      height: 20px;
      background-color: white;
      border-radius: 20px;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $brown;
        display: none;
      }
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
  }
  input {
    box-sizing: content-box;
    padding: 0 15px;
    width: 163px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid black;
    background: rgba($color: white, $alpha: 0.5);
    &:focus {
      outline: none;
    }
    &.codes {
      width: 280px;
      border: none;
      border-radius: 10px;
      height: 45px;
      font-size: 20px;
      padding-left: 21px;
      padding-right: 0;
      letter-spacing: 25px;
      box-sizing: border-box;
      @media (min-width: 992px) {
        width: 410px;
        padding-left: 90px;
      }
    }
    &::placeholder {
      color: rgba($color: $brown, $alpha: 0.5);
    }
  }
  .dotted-line {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 12px;
    span {
      display: block;
      height: 2px;
      width: 30px;
      background-color: black;
      &:not(:last-child) {
        margin-right: 7px;
      }
    }
  }
  .codes-texte {
    text-align: center;
    color: $brown;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 10px;
  }
  .conditions {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .radio {
      font-size: 11px;
      margin-bottom: 10px;
      width: 100%;
      justify-content: center;
      text-align: center;
      align-items: flex-start;
      .checkmark {
        position: relative;
        bottom: 2px;
        margin: 0 5px 0 0;
      }
    }
  }
  .tips {
    background-color: $brown;
    color: white;
    width: 17px;
    height: 17px;
    border-radius: 20px;
    display: inline-block;
    font-size: 11px;
    position: relative;
    bottom: 4px;
    left: 5px;
    padding-top: 1px;
  }
}
