.gagne {
  h1 {
    margin: 30px 0;
    text-transform: uppercase;
    color: $brown;
    font-weight: 800;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: $brown;
    line-height: 1.2;
  }
}
