.landing {
  .a-gagner {
    margin-top: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 35px;
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 10px;
    transform: rotate(-2deg);
    position: relative;
    img {
      position: absolute;
      top: -40px;
      right: -80px;
    }
  }
  .cures-de-choc {
    color: #6a2505;
    letter-spacing: -2px;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 40px;
    margin: 10px 0;
    span {
      font-weight: 900;
      font-size: 30px;
    }
  }
}
